<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Parallel Execution" parallel = "tests" thread-count ="2" verbose="3">
 
<!--   <listeners>
	<listener class-name="com.qa.newtours.listeners.ExtentReportListener" />
 </listeners> -->
 
  <test name="First Test" parallel ="methods" thread-count ="1" >
  <parameter name = "browser" value = "chrome" />
    <classes>
    	<class name="com.qa.newtours.tests.LandingPageTests">
    	<methods>
    		<include name = "verifyLandingPageTitle" />
    	</methods>
    	</class>
    </classes>
  </test>  <!-- Test -->
  
   <test name="Second Test" parallel ="methods" thread-count = "1">
   <parameter name = "browser" value = "firefox" />
    <classes>
    	<class name="com.qa.newtours.tests.RegistrationPageTests">
    	<methods>
    		<include name = "verifyUserRegistrationTest" />
    		<include name = "verifyRegistrationPageTitleTest" /> 
    	</methods>
    	</class>
    </classes>
  </test>  <!-- Test -->
</suite> <!-- Suite -->